extends layout

block content
    
    h1= title.toUpperCase()

    hr(style='margin: 35px 0')

    if categories_list===undefined
        h Categories list is empty. D:
    else
        each category in categories_list
            a(href=category.url style='text-decoration: none')
                dl#category-box
                    dt= category.name
                    dd(style='color: black')= category.description