extends layout

block content
    
    h1= title

    hr(style='margin: 35px 0')

    if categories_list===undefined
        h Categories list is empty. D:
    else
        each category in categories_list
            a(href=category.url style='text-decoration: none; color: rgb(214, 133, 34)')
                dl#category-box
                    dt= category.name
                    hr(style='margin: 5px')
                    dd(style='color: black')= category.description