@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap')
  
body
  padding: 50px
  font-family: 'Roboto Condensed', sans-serif

h1
  font-size: 2.5rem

a
  color: rgb(196, 97, 10)

dd
  padding: 5px 10px
  text-align: justify

th
  text-align: center
