// font-family: 'Roboto Condensed', sans-serif
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap')
// font-family: 'Secular One', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap')

@keyframes slide-up
  0%
    opacity: 0
    transform: translateY(20px)
  100%
    opacity: 1

  
::selection
  background: rgba(67, 130, 55, 0.7)

.wrapper 
  display: flex
  align-items: stretch
  width: 100%

#menuBtn
  background: none
  border: none
  box-shadow: none
  position: fixed
  z-index: 10

#sideMenu
  background: #efefef
  transition: all ease 300ms
  width: 250px
  min-height: 100vh

#sideMenu.active
  margin-left: -250px

#content-container
  background: #fefefe
  min-height: 100vh
    
h1
  font-size: 3rem
  font-family: 'Secular One', sans-serif
  text-align: center

a
  color: rgb(67, 130, 55)

dd
  padding: 5px 10px
  text-align: justify
  white-space: pre-wrap

button
  font-family: 'Secular One', sans-serif
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1)   

th
  text-align: center

.errors-list
  li
    color: rgba(219, 47, 35, 0.6)
    font-style: italic
    list-style: square

#category-box
  border: 2px solid rgba(0, 0, 0, 0.3)
  border-radius: 5px
  box-shadow: 3px 3px 1px 1px rgba(0, 0, 0, 0.1)
  padding: 10px
  opacity: 0.8
  &:hover
    background: rgba(214, 133, 34, 0.2)
    color: rgb(214, 133, 34)
    transform: translateX(10px)
    opacity: 1
    transition: all ease 0.5s